body{
    margin:0px;
    padding:0px;
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
}


.header{
    width: 100%;
    height: 144px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;

}

.homedecor{
    font-size: 45px;
    margin-top:50px;
    margin: auto;
    padding-top:30px;
    color:rgb(0, 43, 46);
}

.headerAlt{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 4em;
    margin-bottom: 40px;
    margin-top:10px;

}

.kundkonto, .kundkonto a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color:white;
}

.loggaIn, .bliMedlem, .loggaUt{
    margin-left:12px;
    padding:10px 11px;
    background-color: rgb(42, 119, 136);
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 40px;
    height: 360px;
    width: 500px;
    border: 0.5px solid rgb(64, 135, 150);
}

.bliforgot{
    margin-right: 270px;
    font-size: 10px;
    margin-bottom: -47px;
    margin-top: 28px;
}

.loginform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    width: 80%;
    height: 80%;
    border: 0.5px solid rgb(64, 135, 150);
    font-size: 22px;
    font-weight: bold;
    
}
.mailForm, .passwordForm{
    width: 55%;
    margin:10px;
    height: 28px;
    font-family: 'Playfair Display', serif;
    border: 3px solid rgb(240, 240, 240);

}
.mailForm{
     margin-top:30px;
}

.buttonForm{
    margin-top: 20px;
    
    width: 35%;
    height: 35px;
    background-color: rgb(2, 120, 133);
    border:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 16px;

}

.formmain{
    display: flex;
    justify-content:center;
    height: auto;
    width: 100%;
    background-image: url("livin.jpg");
    background-size: cover;
    margin-top: -60px;

}




/*         MENY        */
.cart{
    margin-left: 60px;
    font-size: 30px;
    color:rgb(0, 43, 46);
}

.meny{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(50, 50, 56);
    color: white;
    z-index: 1;
}

.mainmeny{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 57%;
    margin: auto;
}

.menymeny{
    display: flex;
    align-items: center;
    height: 60px;
    width: 80%;
    margin: auto;
}
.menymeny a{
    text-decoration: none;
    color:white;
}

.headitem, .infoitem{
 
 font-size: 17px;
 cursor: pointer;
 color:white;

}

.infoKontakt{
    display: flex;
    justify-content: space-between;
    width: 21%;
}

/*          MAINCONTENT & FOOTER       */
.homebox1{
    background-image: url("2.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;

    

}

.testfront{
    background-color: rgba(255, 255, 255, 0.774);
    width: 550px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    color:rgb(0, 43, 46);

}
.slogan{
    font-size: 48px;
    text-align: center;
}
.slogan2{
    font-size: 25px;
}



.firstside{
    width: 100%;
    height: 530px;
    display: flex;

 
}

.main1{
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    margin-bottom: 60px;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    background-color: rgb(50, 50, 56);
    color: white;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top:30px;
}

.social{
   margin-left:20px;
}

.fot1, .fot2{
    border-right: 1px solid black;
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fot3{
    height: 150px;
    width: 400px;
}



/*    DROPDOWM MENU    */

li a{
    list-style: none;
    margin:0px 60px;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

li{
    list-style: none;
    margin-top: 10px;
}

.underKategori{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdownmenu {
    position: relative;
    background-color: rgb(222, 244, 245);
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 57px;
}



/*     PRODUKTNÄT     */

/*main för produktnät*/
.produktWrap{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    height: auto;
    margin-top:20px;
    margin-bottom:50px;
    width: 80%;
}

/*produktdivven*/
.produktItem{
    width: 400px;
    height: 350px;
    margin: 30px;
}

/*Bild in produktdivven*/
img {
    width: 100%;
    height: 100%;
}

.prisTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    margin-left: 10px;
}


/*       INFO OM PRODUKT        */
.specWrap{
    margin-top:50px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.imgProdCard{
    width: 600px;
    height: 500px;
}
.textProdCard{
    width:600px;
    height:600px;
    margin:0px 50px;
}

.prodToCart{
    width: 200px;
    height: 45px;
    background-color:rgb(18, 109, 101);
    color:white;
    font-size: 18px;
    font-family:'Alegreya Sans', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 40px;
    font-family: 'Alegreya Sans', sans-serif;
}

/*         VARUKORGEN           */

.imgCartCard{
    width: 300px;
    height: 300px;
}

.cardInCart{
    margin-top: 100px;
}

.cartName{
    font-size:17px;
}














@media all and (max-width: 960px){
    .menymeny{
        flex-direction: column;
        height:auto;
    }


    .mainmeny{
        flex-flow: row wrap;
        height:auto;
        width: 100%;
    }

    .meny{
        height: 100px;
    }

    .infoitem{
        padding:10px;
        margin-left:0px;
    }

}


@media all and (max-width: 600px){

    .header{
        justify-content: center;
    }
    .homedecor{
        font-size: 33px;
        margin-bottom: 50px;
       
    }

    .loggaIn, .bliMedlem, .loggaUt{
        margin-left:5px;
        font-size: 14px;
    }
   
    .meny{
        height: 100px;
       
    }

    .mainmeny{
        flex-flow: row wrap;
        justify-content: center;    
        width: 100%;

    }
    .headitem{
        width: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
     
    }
    .infoitem{
        display:none;
    }

    .dropdownmenu{
        height: 90px;
        width: 100%;
        flex-flow: row wrap;
    }
    li a{
       flex-flow: row wrap;
       margin:0px 10px;
    }

    .homebox1{
        height: 300px;
    }

    .fot1, .fot2, .fot3{
        font-size: 12px;
    }


    .socialmedia{
        flex-direction: column;
    }



   


}